/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

html {
    background: #808080;
    background: -moz-linear-gradient(top, #808080 0%, #555555 50%, #292929 100%);
    background: -webkit-linear-gradient(top,
            #808080 0%,
            #555555 50%,
            #292929 100%);
    background: linear-gradient(to bottom, #808080 0%, #555555 50%, #292929 100%);
}

/*=================================================================*/

/* Cabeçalho */

.btn-download:hover {
    color: #e7c21f;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 4rem;

    max-width: 100%;
    max-height: 4rem;
    min-width: 100%;
    min-height: 4rem;

    background-color: #0f0322;
}

.logo {
    width: fit-content;
    margin-bottom: 0.2%;
    margin-right: 6%;
}

.link {
    font-family: "Press Start 2P", cursive;
    color: #f3f5ed;
    font-size: 1.2rem;
    text-shadow: 0px 1px 2px #000;
}

.link:hover {
    color: #e7c21f;
    border-bottom: 1px solid #e7c21f;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    height: 100%;
    gap: 5rem;
}

.progamer {
    background-image: url(/img/inicio.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 52.6%;
}

.progamer img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.btn-download {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
    background-color: #3f0d8e;
    color: #f3f5ed;
    font-size: 1.7rem;
    border: none;
    line-height: 10%;
    border-radius: 30px;
    font-family: "Press Start 2P", cursive;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    text-shadow: 0px 1px 2px #000;
}

.btn-download:hover {
    color: #e7c21f;
}

/*=================================================================*/

/* História */

.historia {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    height: 100%;
    gap: 5rem;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.historia img {
    min-height: 45%;
    min-width: 45%;
    max-height: 45%;
    max-width: 45%;

    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
}

.historia h2 {
    font-family: "Press Start 2P", cursive;
    font-size: 2.7rem;
    color: #e7c21f;
    margin-bottom: 2rem;
    text-shadow: 0px 1px 2px #000;
}

.historia p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
    color: #fff;
}

/*=================================================================*/

/* Jogo */

.titulo-jogo {
    font-family: "Press Start 2P", cursive;
    font-size: 2.7rem;
    color: #e7c21f;
    text-shadow: 0px 1px 2px #000;
    padding-left: 10%;
    padding-bottom: 3rem;
}

.jogo {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 40rem 40rem;
    
}

.inspiracao {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 100%;
    padding-left: 20%;
}

.inspiracao h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.inspiracao p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
    width: 70%;
    color: #fff;
}

.inspiracao img {
    width: 70%;
    height: 60%;
}

.objetivo {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 100%;
}

.objetivo h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-left: 20%;
}

.objetivo p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
    width: 70%;
    color: #fff;
    margin-left: 20%;
}

.objetivo img {
    width: 70%;
    height: 60%;
    margin-left: 20%;
}

.desenvolvimento {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    height: 100%;
    padding-left: 20%;
}

.desenvolvimento h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1rem;
    color: #fff;
    margin-bottom: 1rem;
}

.desenvolvimento p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
    width: 70%;
    color: #fff;
}

.desenvolvimento img {
    width: 70%;
    height: 60%;
}

.ferramentas {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 100%;
}

.ferramentas h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-left: 20%;
}

.ferramentas p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.5rem;
    width: 70%;
    color: #fff;
    margin-left: 20%;
}

.ferramentas img {
    width: 70%;
    height: 60%;
    margin-left: 20%;
}